###############################################################################
##                                Root Level                                 ##
###############################################################################
.env
.vscode
**/dist
api/rest.http
testData
*.old

###############################################################################
##                                   API                                     ##
###############################################################################
package-lock.json

###############################################################################
##                                  Node Modules                             ##
###############################################################################
**/node_modules

###############################################################################
##                                Test Results                               ##
###############################################################################
**/test-results
