###############################################################################
##                                Root Level                                 ##
###############################################################################
.env
.vscode
**/dist

###############################################################################
##                                   API                                     ##
###############################################################################
package-lock.json
###############################################################################
##                                  Node Modules                             ##
###############################################################################
**/node_modules
