###############################################################################
##                                Root Level                                 ##
###############################################################################
.env
.vscode

###############################################################################
##                                   API                                     ##
###############################################################################
package-lock.json
###############################################################################
##                                  Node Modules                             ##
###############################################################################
node_modules